#schedule_service_items {
  margin: 30px 0;
  width: 100%;
  float: left;

  h1 {
    margin-bottom: 15px;
  }

  .add_fields {
    @extend .add-button !optional;
    float: right;
  }

  .remove_fields {
    @extend .button !optional;
    float: left;
    margin: 28px 0 0 10px;
  }

  .links, .nested-fields{
    float: left;
    width: 55%;
  }

  .nested-fields {
    margin-bottom: 15px;

    .input {
      float: left;
      margin-right: 5px;
    }
  }
}
